#!/usr/bin/env bash
install -o root -g shareddata -m 0640 \
	/shareddata/tls_certs/{{main_hostname}}.{key,crt} \
	/etc/ssl/email-certs/
# This script may be called before dovecot is installed
systemctl reload dovecot || exit 0
