protocols = imap lmtp sieve

service lmtp {
	user = virtmail
	group = virtmail
	unix_listener lmtp {
		mode = 0660
		group = dovecot
	}
}

# SASL for Postfix
service auth {
	unix_listener auth {
		mode = 0660
		group = dovecot
	}
}

ssl = required
disable_plaintext_auth = yes

ssl_cert = </etc/ssl/email-certs/{{ main_hostname }}.crt
ssl_key = </etc/ssl/email-certs/{{ main_hostname }}.key

auth_mechanisms = plain login

mail_max_userip_connections = 100

# %Ln -- lowercase username without domain
mail_home = /data/dovecot/%Ln
mail_location = mdbox:~/mail

recipient_delimiter = +-

imap_capability = +SPECIAL-USE
namespace {
	inbox = yes
	separator = /

	mailbox Trash {
		auto = create
		special_use = \Trash
	}

	mailbox Drafts {
		auto = create
		special_use = \Drafts
	}

	mailbox Sent {
		auto = subscribe
		special_use = \Sent
	}

	mailbox Spam {
		auto = create
		special_use = \Junk
	}
}

# Deliver all mail under the same user
first_valid_uid = 200
userdb {
	driver = static
	# Set allow_all_users and trust that Postfix already verified we have
	# this user
	args = uid=virtmail gid=virtmail home=/data/dovecot/%Lu allow_all_users=yes
}

passdb {
	driver = ldap
	args = /etc/dovecot/ldap.conf.ext
}
