ldap_version = 3
hosts = sidss
dn = uid=ldap-svc-email-dovecot,ou=users,{{ ldap_base_dn }}
dnpass = {{ lookup("ini", "email-dovecot file=secrets/passwords.ini section=ldap_sw") }}
base = ou=users,{{ ldap_base_dn }}
auth_bind = yes
pass_filter = (cn=%Ln)
# Let users authenticate with the email address they want to access.
pass_filter = (hostedEmails=%Lu)
# Don't use uid/dn as the username, then we wouldn't access the given address.
pass_attrs = =user=%Lu
