[Unit]
Description=SIDSS management daemon

[Service]
Type=simple
User=sidss
WorkingDirectory=/opt/sidss/mgmt_daemon
ExecStartPre=+/bin/sh -c 'mkdir -p /var/run/sidss; chown sidss /var/run/sidss'
ExecStart=/usr/local/bin/ts-node \
	src/main.ts \
	-s 'ts-node ../ldap_server/src/main.ts -a 0.0.0.0 389' \
	-b {{ ldap_base_dn }} \
	-d /data/sidss-mgmt-rw/ \
	-D /data/sidss-mgmt-ro \
	-D base_ro_db
ExecReload=/usr/bin/kill -USR1 $MAINPID
ExecStartPost=/bin/sh -c 'systemctl show -p MainPID --value %N > /var/run/sidss/mgmt-daemon.pid'
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
