server_host = sidss
version = 3
bind = simple
bind_dn = uid=ldap-svc-email-postfix,ou=users,{{ ldap_base_dn }}
bind_pw = {{ lookup("ini", "email-postfix file=secrets/passwords.ini section=ldap_sw") }}
scope = one
search_base = ou=users,{{ ldap_base_dn }}
query_filter = hostedEmails=%s
result_attribute = hostedEmails
result_format = %s/
