server.modules = ("mod_access", "mod_accesslog")

include_shell "/usr/share/lighttpd/create-mime.conf.pl"

server.username = "{{ httpd_user }}"
server.groupname = "lighttpd"
server.port = {{ (uid | int) + 10000 }}
server.indexfiles = ("index.html")
server.document-root = "/etc/lighttpd/no_site_docroot"

{% for site in sites %}
{% if not loop.first %} else {% endif -%}
{%- for host in site.hosts -%}
{%- if not loop.first %} or {% endif -%}
$HTTP["host"] == "{{ host }}"
{%- endfor %} {
	server.document-root = "{{ site.root_path }}"
	server.errorfile-prefix = "{{ site.root_path }}/.errors/"

	include "/etc/lighttpd/host-extra/{{ site.hosts[0] }}.conf"
}
{% endfor %}
