[AutoRun]
enabled=false
program=
 
[Preferences]
Advanced\RecheckOnCompletion=false
Advanced\trackerPort=9000
Connection\ResolvePeerCountries=true
General\Locale=
WebUI\Address=*
WebUI\AlternativeUIEnabled=false
WebUI\AuthSubnetWhitelist={{ hostvars["caddy-rp"].ip }}/32
WebUI\AuthSubnetWhitelistEnabled=true
WebUI\BanDuration=3600
WebUI\CSRFProtection=true
WebUI\ClickjackingProtection=true
WebUI\HostHeaderValidation=true
WebUI\LocalHostAuth=true
WebUI\Port={{ (uid_cmd.stdout | int) + 10000 }}
WebUI\RootFolder=
WebUI\SecureCookie=true
WebUI\ServerDomains=*
WebUI\SessionTimeout=3600

[BitTorrent]
Session\AnonymousModeEnabled=true
Session\DefaultSavePath"{{ save_path }}"
Session\Encryption=1
Session\Port={{ (uid_cmd.stdout | int) + 15050 }}
Session\QueueingSystemEnabled=false
Session\TempPath="{{ save_path }}/incomplete"
Session\TempPathEnabled=true
Session\UseRandomPort=true
